* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Remove default body margin */
}

/* Create two columns/boxes that float next to each other */
nav {
  float: left;
  width: 20%;
  background: #9cb9ea;
  padding: 20px;
  height: 100vh; /* Set height to 100% of the viewport height */
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

.QR-code {
  width: 100%; /* Adjusted width for responsiveness */
  height: auto; /* Allow the height to adjust automatically */
  max-width: 240px; /* Added max-width for responsiveness */
  display: block; /* Ensures it behaves as a block element */
  margin: 20px 0; /* Added margin for spacing */
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: #5596cf;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

article h1 {
  color: #0c2269;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #0c2269;
  padding: 10px;
  font-size: 14px; /* Adjusted font size for better readability */
  color: white;
  clear: both; /* Clear floats to ensure proper rendering */
}
